<main class="container">
  <h3 class="h3-t">Make An Offer</h3>
  <div class="main-container" *ngIf="trendingItem">
    <div style="display: flex; flex-direction: column; gap: 20px">
      <div
        style="
          display: flex;
          justify-content: space-between;
          background-color: #fff;
          color: #000;
          height: 30px;
          border-radius: 5px;
        "
      >
        <h4>{{ trendingItem.image_title | truncateText : 10 }}</h4>
        <h4>{{ trendingItem.trend_Id }}</h4>
      </div>
      <img
        [src]="trendingItem.image_url"
        alt="Image Preview"
        class="image-width"
      />
    </div>
    <div style="display: flex; flex-direction: column; width: 300px; gap: 10px">
      <div
        style="
          display: flex;
          flex-direction: column;
          background-color: #0e1118;
          border-radius: 5px;
          padding: 10px;
        "
      >
        <div style="display: flex; justify-content: space-between">
          <h5>Balance</h5>
          <h5>0 ETH</h5>
        </div>
        <div style="display: flex; justify-content: space-between">
          <h5>Floor price</h5>
          <h5>0.52 ETH</h5>
        </div>
        <div style="display: flex; justify-content: space-between">
          <h5>Best offer</h5>
          <h5>0.023 ETH</h5>
        </div>
      </div>
      <div
        style="
          display: flex;
          flex-direction: column;
          background-color: #0e1118;
          border-radius: 5px;
          padding: 10px;
        "
      >
        <h5 style="color: #fff">Offer</h5>
        <div
          style="
            display: flex;
            justify-content: space-evenly;
            background-color: white;
            padding: 5px;
            border-radius: 5px;
          "
        >
          <input type="number" class="input-st" min="1" maxlength="10" />
          <select name="" id="" class="select">
            <option value="eth">Eth</option>
            <option value="dollar">$</option>
          </select>
        </div>
        <h5 style="color: #fff">Duration</h5>
        <div style="display: flex; justify-content: space-between">
          <select name="" id="" class="select2">
            <option value="">1 Month</option>
            <option value="">2 Month</option>
            <option value="">3 Month</option>
            <option value="">4 Month</option>
            <option value="">5 Month</option>
          </select>
        </div>
        <button class="make-offer__btn" (click)="closeDialog()">Make Offer</button>
      </div>
    </div>
  </div>
</main>
