<main class="container">
  <p
    class="categories-title"
    style="background-color: transparent; color: #fbfbfb"
  >
    Categories
  </p>
  <div
    class="main-container"
    data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'
  >
    <div class="images-group" *ngFor="let getCategories of categories">
      <img
        [src]="getCategories.image_url"
        alt="Image Preview"
        class="categories-image"
      />
      <p class="categories-title">{{ getCategories.image_title }}</p>
    </div>
  </div>
</main>
