<main class="container">
  <h3>Edit Listing</h3>
  <div class="main-container">
    <div class="input-container">
      <div>
        <h4>Price</h4>
        <input
          type="text"
          [(ngModel)]="editedPrice"
          (input)="onInputChange($event)"
          placeholder="Enter new price"
          class="input"
        />
      </div>
      <div>
        <h4>Expiration Date</h4>
        <select class="input">
          <option value="day1">1 Day</option>
          <option value="day2">2 Day</option>
          <option value="day3">3 Day</option>
          <option value="day4">4 Day</option>
          <option value="day5">5 Day</option>
        </select>
      </div>
    </div>
    <div class="btn-container">
      <button class="cancel-btn" [mat-dialog-close]="'close'">Cancel</button>
      <button class="confirm-btn" (click)="onSaveClick()">Confirm</button>
    </div>
  </div>
</main>
