<app-header></app-header>
<main class="container">
  <div class="main-container">
    <p class="desc-box" >
      From the iconic Champs-Élysées and beyond the clouds, the VIA journey
      continues on a trajectory towards new heights. The VIA Treasure Trunk
      encloses the latest collectible in this digital quest for the exceptional,
      VIA Nicolas Ghesquière.
    </p>
    <span class="box-line"></span>
    <div class="btn-containers">
      <button class="btn-boxes">Created: Dec 2023</button>
      <button class="btn-boxes">Items: 10</button>
      <button class="btn-boxes">Chain: ETH</button>
    </div>
  </div>
</main>

<main class="container">

  <div class="categories-title d-flex justify-content-between align-items-center">
    <p>Products</p>
    <div class="d-flex align-items-center">
      <div class="product-date">
        <p>Show:<span>16 / 20 / 24</span></p>
        </div>
      <div class="">
        <button type="button" class="border-bottom btn text-light rounded-0 p-0">lowest price</button>
        <button type="button" class="btn text-light dropdown-toggle dropdown-toggle-split " data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
          <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">{{ 25 | currency }}</a></li>
          <li><a class="dropdown-item" href="#">{{ 35 | currency }}</a></li>
          <li><a class="dropdown-item" href="#">{{ 45 | currency }}</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="main-container2">
    <div class="images-group" *ngFor="let getTrending of trending">
      <img
        [src]="getTrending.image_url"
        alt="Image Preview"
        class="trending-image"
        (click)="openDetails(getTrending)"
      />
      <div class="trending-title">
        <p>
          {{ getTrending.image_title | truncateText : 20 }}
        </p>
        <div class="trending-title-details"
        >
          <p>
            Price :
            <span
              >{{ getTrending.price | currency }}</span
            >
          </p>
          <p >
            Edition :
            <span
              >{{getTrending.trend_Id}}</span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
