/* You can add global styles to this file, and also import other style files */
* {
  margin: 0%;
  box-sizing: border-box;
  border: none;
}

body {
  background-color: #191e2b;
  color: #fbfbfb;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cdk-overlay-container {
  background-color: #00000091;
}

