main {
  margin-top: 50px;
}

.table{
  border: 1px solid #fff;
}

tr{
  vertical-align: -webkit-baseline-middle;
}
th,
td {
  background-color: #0e1118 !important;
  color: #e2e2e4 !important;
}

.th-t {
  padding: 20px 20px;
}

.edit-btn {
  padding: 5px 15px;
  border-radius: 5px;
}
